wera-app/app/.dart_tool
wera-app/app/.flutter-plugins
wera-app/app/.flutter-plugins-dependencies
wera-app/app/.packages
wera-app/app/.vscode
wera-app/app/ios/build/*
wera-app/app/build/*

wera-app/app/wera-app-api/wera-forum-app-credentials.json
wera-app/app/wera-app-api/wera-forum-app-firebase-adminsdk-credentials.json
wera-app/app/wera-app-api/src/unused/google-services.json
wera-app/app/android/app/google-services.json

wera-app/app/wera-app-api/wera-app-api/Lib/*
wera-app/app/wera-app-api/venv-grpc-tools/*
wera-app/app/wera-app-api/wera-app-api/*

wera-steuerung/build
wera-steuerung/.git.off
wera-steuerung/.vscode
wera-steuerung/images/WeraForum
wera-steuerung/images/KidsForum
