<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56333247777-i9p67qga7fndcpj0henvmnqoaqhej00s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56333247777-i9p67qga7fndcpj0henvmnqoaqhej00s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>56333247777-eavc0bi2ik4sup9d9apttj7cpf8q5q80.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKwQ18MpBM3gklrPrzsmaFDsLJHPZKdYY</string>
	<key>GCM_SENDER_ID</key>
	<string>56333247777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mfa.steuerung</string>
	<key>PROJECT_ID</key>
	<string>wera-forum-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wera-forum-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56333247777:ios:0464399656691271beca60</string>
	<key>DATABASE_URL</key>
	<string>https://wera-forum-app.firebaseio.com</string>
</dict>
</plist>